/* Normalizacion de estilos en general */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border:0;
    box-sizing: border-box;
    list-style: none;
    user-select: text;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: var(--color2);
}

ul, ol {
    list-style-type: none;
}

img {
    width: 100%;
}
